<center><h6 class="text-danger"><%= alert %></h6></center> 
<%= simple_form_for :session, url: login_path, remote: true, html: { class: "form-signin" }, defaults: {required:false} do |s| %>
    <%= s.input :email, placeholder: 'user@domain.com' %>              
    <%= s.input :password, hint: 'No special characters.' %>
    <%= s.button :submit, 'Sign in', class:"btn btn-login btn-block", style:"border-radius: 20px;", id: "session_submit" %>
     <div class="or-seperator"><i>or</i></div>
    <a href="/auth/google_oauth2" class="btn btn-danger btn-block" style="border-radius: 20px;" ><i class="fab fa-google" aria-hidden="true"></i> Sign in with <b>Google</b></a>
<% end %>
<br>
<p class="hint-text text-center small text text-muted" >Don’t have an account? <%= link_to 'Sign up', sign_up_path, class: "text-success" %></p>
