
 <h2 class="text-center mt-4">Register Account</h2> 
  <center><p id="notice"><%= notice %></p></center>
  <%= simple_form_for @user, remote: true, html: { class: "form-signup" } do |u| %>

    <%= u.input :email, placeholder: 'user@domain.com' %>
    <%= u.input :first_name, label: 'First Name', error: 'First name is mandatory, please specify one' %>
    <%= u.input :last_name, label: 'Last Name', error: 'Last name is mandatory, please specify one' %>
    <%= u.input :birthday, as: :date, start_year: Date.today.year - 16,
                          end_year: Date.today.year - 90, discard_day: false,
                          order: [:year, :month, :day] %>
                      
    <%= u.input :password, hint: 'No special characters.', required: true %>
    <%= u.input :password_confirmation, label: 'Confirm Password'  %>
    <%= u.button :submit, class:"btn btn-success btn-block", id: "user_submit" %>
  <% end %>
