<style>
@media (min-width: 500px){
#memberRow{
flex-wrap: unset!important;
overflow-x: auto;
}
}
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="font-weight-bold text-center text-uppercase mt-3 mb-4">Our Amazing Team</h2>
      <h4 class="section-subheading" style="color: #27a2b9;">The stylist ready to make you over.</h4>
    </div>
  </div>

  <!-- list each member that is stylist from database -->
  <div class="row" id="memberRow">
    <% @staff.each do |stylist|%>
      <div class="col-sm-4">
        <div class="team-member">
          <% if  stylist.avatar? %>
            <%= image_tag(stylist.avatar_url, class: ' mx-auto rounded-circle',width: '255', height: '255', alt: "") %>
          <% else %>
            <%= image_tag( "default_avatar.jpg", class: 'mx-auto rounded-circle',width: '255', height: '255', alt: "") %>
          <% end %>
          <h4><%= stylist.first_name %></h4>
          <p class="text-muted"><%= stylist.title.name if !stylist.title.nil? %></p>

          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
            <% if stylist.instagram.present? %>
              <a href="<%=stylist.instagram%>" target="_blank">
                <% else %>
              <a href="">  
            <% end %>    
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            
            <li class="list-inline-item">
            <% if stylist.facebook.present? %>
              <a href="<%=stylist.facebook %>" target="_blank">
                <% else %>
             <a href="">   
            <% end %>    
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            
            <li class="list-inline-item">
            <% if stylist.linkedin.present? %>
              <a href="<%= stylist.linkedin %>" target="_blank">
                <% else %>
            <a href="">    
            <% end %>
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <!-- !list each member that is stylist from database -->
  
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <p class="large text-muted">Make your appointment with one of our highly skilled team members today.</p>
    </div>
  </div>
</div>