<style>

</style>

<div class="jumbotron jumbotron-background jumbotron-fluid">
  <div class="container">
    <br><br><br><br>
    <h1 class="display-3 text-light" id="jumboTitle">Visible Elegance<br> Hair Salon</h1>
    <p class="lead text-light">Your beauty is our profession.</p>
  </div>
</div>
    <!-- Our Products -->
    <section id="product">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            
              <img class="img-fluid d-block mx-auto" src="https://www.icunsol.it/wp-content/uploads/2016/04/logo-colorinsider.jpg" alt="">
    
          </div>
          <div class="col-md-3">
            
              <img class="img-fluid d-block mx-auto" src="https://www.icunsol.it/wp-content/uploads/2016/04/logo-matrix-color.jpg" alt="">
    
          </div>
          <div class="col-md-3">
            
              <img class="img-fluid d-block mx-auto" src="https://www.colorwowhair.com/skin/frontend/rwd/colorwow/images/logo.svg" style="height:66.56px" alt="">
    
          </div>

          <div class="col-md-3">
            
              <img class="img-fluid d-block mx-auto" src="http://salonsabeha.com/wp-content/uploads/2015/07/brazilianblowout_logo.png" style="width:210px;height:66.56px" alt="">
    
          </div>
        </div>
      </div>
    </section>
    <p id="notice"><%= notice %></p>
    <!-- !Products Section  -->
    <!-- Services -->
    <section id="services">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Services are not limited please inquire.</h3>
            <br>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            
            <span class="fa-stack fa-4x">

              <i class="fas fa-circle fa-stack-2x text-dark"></i>
              
              <i class="fa-stack-1x fa-inverse"><img src="/assets/hair-cut-tool.png" style="filter: invert(1);"></i>
            </span>
            <h4 class="service-heading">Hair</h4>
            <p class="text-muted">Hair coloring, curling, tweaking, styling and more.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-dark"></i>
              <i class="fa-stack-1x fa-inverse"><img src="/assets/lipstick.png" style="filter: invert(1);"></i>
            </span>
            <h4 class="service-heading">Make-up</h4>
            <p class="text-muted">Look stunning on your wedding day or get dolled up for a special occasion.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-dark"></i>
              <i class="fa-stack-1x fa-inverse"><img src="/assets/nail-polish-bottle.png" style="filter: invert(1);"></i>
            </span>
            <h4 class="service-heading">Nails</h4>
            <p class="text-muted">Manicure, Nail design, Waxing, and more.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center section-footer">
          <h3>
            <a href="#" data-target="#serviceTypes" data-toggle="modal" class="text-muted">Click here for Service Prices</a>
          </h3>
          </div>
        </div>
      </div>
    </section>

        <!---------------- Services Modal ---------------------->

      <div class="modal fade" id="serviceTypes" tabindex="0">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div>
                <button class="close mr-auto pt-1 pr-4"  data-dismiss="modal">&times;</button>
                </div>
                      <div class="modal-body">
                         <%= render :partial => "service_types/services" %>
                      </div>
              </div>
          </div>
      </div>
        
    <!---------------- !Services Modal ---------------------->  





    <!-- Team -->
    <section class="bg-light py-5" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="font-weight-bold text-center text-uppercase mt-3 mb-4">Our Amazing Team</h2>
            <h4 class="section-subheading text-muted">The stylist ready to make you over.</h4>
          </div>
        </div>
        <div class="row">
          <% @staff.each do |stylist|%>
            <div class="col-sm-4">
              <div class="team-member">
                <% if  stylist.avatar? %>
                  <%= image_tag(stylist.avatar_url, class: ' mx-auto rounded-circle',width: '255', height: '255', alt: "") %>
                <% else %>
                  <%= image_tag( "http://hannsaa.com/userfiles/avatars/default.jpg", class: 'mx-auto rounded-circle',width: '255', height: '255', alt: "") %>
                <% end %>
                <h4><%= stylist.first_name %></h4>
                <p class="text-muted">Stylist</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
          </div>
        </div>
      </div>
    </section>


    