<!-- Page main bannder -->
<!-- <div class="jumbotron jumbotron-background jumbotron-fluid">
  <div class="container">
    <br><br><br><br>
    <h1 class="display-3 text-light" id="jumboTitle">Visible Elegance<br> Hair Salon</h1>
    <p class="lead text-light">Your beauty is our profession.</p>
  </div>
</div> -->

<div id="slides" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">

  <div class="carousel-item active">     
    <div class="fill" style="background-image:url('<%= asset_url "jumbo-img.jpg"%>');"></div>
    <div class="carousel-caption">
        <h2>Caption 1</h2>
    </div>
  </div>

  <div class="carousel-item">     
    <div class="fill" style="background-image:url('<%= asset_url "jumbo-img.jpg"%>');"></div>
    <div class="carousel-caption">
        <h2>Caption 2</h2>
    </div>
  </div>

  <div class="carousel-item">     
    <div class="fill" style="background-image:url('<%= asset_url "jumbo-img.jpg"%>');"></div>
    <div class="carousel-caption">
        <h2>Caption 3</h2>
    </div>
  </div>

</div>

<center><h6 id="notice"><%= notice %></h6></center>

<!-- Book Now button for reservations -->
<button class="booking-launch-button btn-md" onclick="showBooking()">
  <div class="booking-button-text"><i class="far fa-clock"></i> Book Now!</div>
</button>
<div id="bookingContainer" class="shadow">
  <div class="booking-top-bar" data-reactid=".0.5.0">
    <div class="booking-top-bar-text">RESERVATION REQUEST</div><div class="booking-top-bar-button" onclick="hideBooking()"><i class="fas fa-chevron-down"></i></div>
  </div>
  <div class="form-border">
  <%= render partial:"/reservations/form" %>
  </div>
</div>

<!-- Our Products -->
<section id="product">
  <%= render :partial => "welcome/products" %>
</section>

<!-- Services -->
<section id="services">
  <%= render :partial => "welcome/services" %>
</section>

<!-- Team -->
<section class="bg-light py-5" id="team">
  <%= render :partial => "welcome/team" %>
</section>

<!-- Instagram gallery -->
<section id="gallery" class="text-center py-5">
  <h2 class="section-heading text-uppercase">Gallery</h2>
  <h3 class="section-subheading text-muted">Become one of our models.</h3>
  <div id="instagram-feed" class="instagram_feed scrolling-wrapper"></div>
</section>


<!-- Booking Button show/hide -->
<script>
 function hideBooking() {
    var el = document.getElementById('bookingContainer');
        el.style.display = 'none';
  } 

 function showBooking() {
    var el = document.getElementById('bookingContainer');
        el.style.display = 'block';
  } 
 
</script>
<!-- instagram jquery script load -->
<script>
$(document).ready(function(){
    $.instagramFeed();
});
</script>
