
<style>
.form-check {
    margin-top: -20px;
}
@media (max-width: 800px) {
  .form-check-label {
    margin-left: 15px!important;
  }
  input[type=checkbox] {
    width: 20px!important;
    height: 20px!important;
    margin-left: -14px!important;
    margin-top: 14px!important;
  }
}

.form-check-label {
    margin-top: 8px;
    height: 30px;
    font-size: 17px;
    font-weight: 700;
    margin-left: 5px;
}


input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 20px;
}

</style>

<div class="container mt-100">
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8 shadow">	
<center><h1> Reservation Edit</h1></center>
<span id="reservationPartial"><%= render partial:"/reservations/errors" %></span>
<%= simple_form_for @reservation, remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    
    <% if logged_in? %>
      <!-- if user is admin allow extra fields for walkin or call in reservations -->

        <%= f.input :force_create %>
        <%= f.input :user_id, collection: User.all.order(:first_name), label_method: :fullname, value_method: :id %>
        <!-- hiidden field until admin select user id -->
        <div class="form-inputs" id="extraFields">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :phone_number %>

        </div>
    <% end %>

    What service would you like?
    <%= f.association :service, :as => :grouped_select, :collection => ServiceType.order(:name), :group_method => :services, label: false, error:'Please select a service' %>

    <!-- hidden field until user select from services  -->
    <div class="form-inputs" id="stylist_select">
    Which Stylist?
    <%= f.input :stylist_id, :as => :grouped_select, :collection => Service.order(:name), :group_method => :users, label_method: :first_name, label: false, include_blank: true %>
    </div>

    What date?
    <%= f.text_field :reservation_date, label: false, type: 'date', min: Date.today, max: Date.today.next_month(3), required: true, error:'Please select a date', class: 'form-control mt-1 mb-2'%>

    What time?
    <%= f.input :reservation_time, as: :time, label: false, ampm: true, start_hour: 9, end_hour: 19, minute_step: 15,  hint: 'We are only open bewteen 9:30 am & 7:00 pm', error:'Please choose a correct time', class: 'form-control p-1' %>
    <%= f.input :notes, label: 'Special Requests' %> 
  </div>

  <div class="form-actions">
    <!-- if user is logged in allow reservation request else have user log in -->
    <% if logged_in? %>
      <%= f.button :submit, 'Submit', class: "btn btn-danger btn-block mb-1" %>
    <% else %>
      <a href="#" data-target="#sign-in" data-toggle="modal" class="btn btn-block btn-danger">Submit</a>
    <% end %>
  </div>
<% end %>    
<%= link_to 'User', @reservation.user %> |
<%= link_to 'Back', reservations_path %>
</div>
<div class="col-md-2">
</div>
</div>

<script>
// jquery to set select for stylists that have such service  

jQuery(function() {
  var stylist;
  stylist = $('#reservation_stylist_id').html();
  return $('#reservation_service_id').change(function() {
    var service, escaped_service, options;
    service = $('#reservation_service_id :selected').text();
    escaped_service = service.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(stylist).filter("optgroup[label=" + escaped_service + "]").html();
    if (options) {
      $('#reservation_stylist_id').html(options);
      return $('#stylist_select').show();
      // return $('#reservation_stylist_id').parent().show();
    } else {
      $('#reservation_stylist_id').empty();
      return $('#reservation_stylist_id').parent().hide();
       $('#stylist_select').hide();
    }
  });
});

jQuery(function() {
  var stylist;
  stylist = $('#reservation_stylist_id').html();
  return $(document).ready(function() {
    var service, escaped_service, options;
    service = $('#reservation_service_id :selected').text();
    escaped_service = service.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(stylist).filter("optgroup[label=" + escaped_service + "]").html();
    if (options) {
      $('#reservation_stylist_id').html(options);
      return $('#stylist_select').show();
      // return $('#reservation_stylist_id').parent().show();
    } else {
      $('#reservation_stylist_id').empty();
      return $('#reservation_stylist_id').parent().hide();
       $('#stylist_select').hide();
    }
  });
});
// ajax call to autfill form if user is admin

$("#reservation_user_id").change(function() {
  $.ajax({
      url: '/autofill',
      type: 'GET',
      data: { user_id: $(this).val() },
      dataType: 'json',
      success: function(response){
        user = response
        // unhide extra fields in form
        $( "#extraFields" ).show()
        // autfill extra fields
        $( "#reservation_first_name").val(user.first_name);
        $( "#reservation_last_name").val(user.last_name);
        $( "#reservation_phone_number").val(user.phone_number);
        $( "#reservation_email").val(user.email);
      },
      error: function(response) {
        console.log(response)
      }
  })
});

</script>


