<style>
  .mt-100 {
    margin-top: 100px;
  }

  .search-bar{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  a:hover {
    text-decoration: none
  }

  .blink{
    color: rgb (0, 137, 226);
    
    animation: blink 1s infinite;
   }
   
   @keyframes blink{
    0%{opacity: 1;}
    75%{opacity: 1;}
    76%{ opacity: 0;}
    100%{opacity: 0;}
   }

  .new-stylist {
      display: none;
    }

  @media (max-width: 800px) { 
    .search-bar {
      margin-left: 27px;
    }  
  }

  .select2 {
width:100%!important;

}
@media (min-width: 1000px){
.search-bar{
  margin: auto;
}
}
</style>



  <!-- Search bars -->
<center><p id="notice"><%= notice %></p></center>
<div class="container mt-100 ">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark">
        <div class="search-bar"> 
          <%= simple_form_for :reservation, wrapper: :inline_form, html: { class: 'form-inline' }, method: :get do |f| %>
          <table class="table-responsive-sm table-responsive-xs ">
            <thead>
              <tr class="text-light">
                <th>Stylist:</th>
                <th>Service:</th>
                <th>Date:</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <td>
              <%= f.input :stylist, :collection => @stylist.order(:first_name), label_method: :fullname, value_method: :id, label: false, class: 'form-control mt-1 mb-2' %>
              </td>
              <td>
              <%= f.input :service, :as => :grouped_select, :collection => ServiceType.order(:name), :group_method => :services, label: true, class: 'form-control mt-1 mb-2' %>
              </td>
              <td>
              <%= f.text_field :date_on, label: false, type: 'date', min: Date.today.prev_month(3), max: Date.today.next_month(3), class: 'form-control', style: "height: 30px;"%>
              </td>
              <td>
               <%= f.button :submit, 'Submit', name: :nil, class: "btn btn-danger m-1", style: "height: 36px;" %>
             </td>
           </tbody>
          </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card shadow p-2">
    <table id="example1" class="table table-striped table-responsive-sm">
      <thead>
        <tr>
          <th>Client</th>
          <th>Service</th>
          <th>Stylist</th>
          <th>Date</th>
          <th>Time</th>
          <th>Notes</th>
          <th>Status</th>
          <th>Approve</th>
          <th>Cancel</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        <% @reservations.each do |appointment| %>
          <tr>
            <td><%= link_to appointment.user.fullname, appointment.user %></td>
            <td><%= appointment.service.name %></td>
            <td class="current-stylist" id='currentStylist<%=appointment.id%>'><%= appointment.stylist.first_name %></td>
            <td><%= appointment.reservation_date %></td>
            <td><%= appointment.reservation_time.strftime("%H:%M") %></td>
            <td><%= appointment.notes %></td>
            <% if appointment.pending? %><td class='text-warning font-weight-bold text-uppercase blink'><% else %><td class='text-info font-weight-bold text-uppercase'><%end%><%= appointment.status %></td>
            <td><center><%= link_to '', appointment, method: :status_change, data: { confirm: 'Are you sure?' }, class: "text-info fas fa-check-circle fa-2x" %></center></td>  
            <td><center><%= link_to '', appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger fas fa-minus-circle fa-2x" %></center></td>
            <td><center><%= link_to '', edit_reservation_path(appointment) , class: "fas fa-pencil-alt" %></center></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
$(document).ready(function() {
    $('#example1').DataTable();
} );

$(document).ready(function() {
  $('select#reservation_stylist').select2({
    placeholder: "Choose a stylist",
    allowClear: false,
    width: 'resolve'
  });
  $('select#reservation_service').select2({
    placeholder: "Choose a service",
    allowClear: false
  });
});
</script>


