<style>
.special-form-control {

  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-bar{
/*  background-color: rgb(3,131,155);
  border: solid 1px rgb(107, 177, 219);*/
  padding-left: 5px;
}

@media (min-width: 1000px){
  .search-bar{
    margin-left: 40%!important;
  }
}
@media (min-width: 600px) and (max-width: 850px){
  .search-bar{
    margin-left: 30%!important;
  }
}
@media (min-width: 300px) and (max-width: 600px){
  .search-bar{
    margin-left: 13%!important;
  }
}
</style>

<div class="mt-100" style="padding-right: 15px;padding-left: 15px;">
<h2 class="text-center text-uppercase" style="font-weight:700;">Daily Schedule</h2>
<h4 class="text-center text-uppercase" style="font-weight:700;"><%= @schedule.strftime('%A, %d %B %Y') %></h4>
<div class="search-bar mt-2">
  <%= simple_form_for :reservation, wrapper: :inline_form, html: { class: 'form-inline', id: 'dateSearch' }, method: :get do |f| %>
      <%= f.text_field :date_on, inline_label: 'Search Date', min: Date.today.prev_month(3), max: Date.today.next_month(3), type:"date", class: 'special-form-control', style: "height: 36px;width: 193px;"%>
       <%= f.button :submit, 'Submit', name: :nil, class: "btn btn-danger m-1", style: "height: 36px;" %>
  <% end %>
</div>
  <span id="prev" style="float:left;cursor: pointer;font-weight: 600;"><i class="fas fa-angle-double-left"></i> Prev </span><span id="next" style="float:right;cursor: pointer;font-weight: 600;"> Next <i class="fas fa-angle-double-right"></i></span>
<div id="test"></div>

<!-- <button id="colorChange" class="btn-sm btn-danger">Change Random Color</button> -->
</div>

<script>
<% counter = 1 %>
<% number = 1 %>
"use strict";
let shiftObj = {
<% User.all.each do |x| %>
  <%if x.appointments.any? %>
    "<%= counter %>" : {
        "<%=x.first_name%>": [
        <% x.appointments.where(reservation_date: @date).each do |y|%>
            {"<%= rand(1..9).to_s %>" : "<%=y.reservation_time.strftime('%H:%M')%>-<%=y.end_time.strftime('%H:%M')%>"},
            <% number = number + 1 %>
        <% end %>
        <% number = 1%>
        ]
    },
    <% counter = counter + 1 %>
  <% end %>
<% end %>
};

let obj = {
    // Beginning Time
    startTime: "09:00",
    // Ending Time
    endTime: "20:00",
    // Time to divide(minute)
    divTime: "15",
    // Time Table
    shift: shiftObj,
    // Other options
    option: {
        // workTime include time not displaying
        workTime: true,
        bgcolor: ["#00FFFF"],
        // {index :  name, : index: name,,..}
    }
};
// Call Time Table
var instance = new TimeTable(obj);
 // eslint-disable-line
$(document).ready(function(){
  instance.init("#test");
});

// Change theme color sample
$(document).on("click","#colorChange", ()=>{
    let color = `${getColor()},${getColor()},${getColor()}`;
    document.documentElement.style.setProperty("--rgbTheme", color);
    console.log(color);
});
function getColor(){
    return Math.floor(Math.random() * Math.floor(255));
}

// finish table for schedule
</script>


<script>

var form = document.forms[0];
// console.log(form);
var dateString = "<%= @date%>";
// var dateString = window.location.search.substr(1).split("&")[1].split("=")[1];
console.log(dateString);
var actualDate = new Date(dateString);
// console.log(actualDate);
var nextDate = new Date(actualDate.getFullYear(), actualDate.getMonth(), actualDate.getDate()+1);
// console.log(nextDate);
var prevDate = new Date(actualDate.getFullYear(), actualDate.getMonth(), actualDate.getDate()-1);
// console.log(prevDate);
var nextString = new Date(nextDate.getTime() - (nextDate.getTimezoneOffset() * 60000 ))
                  .toISOString()
                  .split("T")[0];
                  console.log(nextString);
var prevString = new Date(prevDate.getTime() - (prevDate.getTimezoneOffset() * 60000 ))
                  .toISOString()
                  .split("T")[0];
                  console.log(prevString);


// if next button is pressed
$("#next").click(function(){
  console.log(nextString)
  $('#reservation_date_on').val(nextString);
  form.submit();
});

// else if prev button is pressed
$("#prev").click(function(){
  console.log(prevString);
  $('#reservation_date_on').val(prevString);
  form.submit();
});
</script>