<!DOCTYPE html>
<html>
  <head>
    <title>SalonApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- font awesome style sheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

    <!-- Custom fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  </head>


  <body>
    <!-- Navigation -->
    <%= render partial: '/layouts/navbar' %>  
    <!-- !Navigation -->

    <%= yield %>

    <% unless logged_in? %>
      <!---------------- Sign in Modal ---------------------->

      <%= render partial: '/layouts/signin_modal' %>
          
      <!---------------- Sign up Modal ---------------------->  
      <%= render partial: '/layouts/signup_modal' %>
    <% end %>
    <!------------ Footer ------------>
    <%= render partial: '/layouts/footer' %>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    
  </body>
</html>

<!-- ajax examle in case of use -->

<!--   //   $("#user_submit").on("click", function(userForm) { 
  //   userForm.preventDefault();
  //   var valuesToSubmit = $(this).serialize();
  //   $.ajax({
  //       type: "POST",
  //       beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
  //       url: '/users',
  //       data: valuesToSubmit,
  //       dataType: 'json',
  //       success: function(response){
  //         $("#signupPartial").html("< j render(partial: '/users/form')  %>");
  //       },
  //       error: function(response) {
  //         console.log(response)
  //         $("#signupPartial").html("<j render(partial: '/users/form') %>");
  //       }
  //   })
  // }); -->
